html {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
}

body {
  margin: 0;
  position: relative;
  -webkit-text-size-adjust: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1%;
  min-height: 100vh;
  height: auto;
}

button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
button:active, button:focus {
  outline: none;
}

input {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  appearance: none;
  cursor: text;
}
input:active, input:focus {
  outline: none;
}

form {
  margin: 20px;
}
form * {
  font-size: 24px;
  color: #f7f7f8;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
form input {
  border-bottom: 1px solid #e2e6e9;
  padding-left: 10px;
  color: #f7f7f8;
  width: auto;
  max-width: 200px;
  background: transparent;
  margin: auto 0;
}
form button {
  background-color: transparent;
  margin: 0;
}
form button i {
  text-shadow: none;
  font-size: 20px;
  color: #e2e6e9;
}

#units-div {
  height: 30px;
  width: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 15px;
  z-index: 1;
  background-color: rgba(247, 247, 248, 0.5);
  padding: 0 8px;
  margin: 10px 0;
}
#units-div span {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background-color: #f7f7f8;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
#units-div p {
  z-index: 3;
  font-size: 14px;
  color: #505458;
  padding-right: 1px;
  font-weight: 600;
}

.imperial span {
  background-color: blue;
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-app {
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: auto;
  min-height: 433px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(247, 247, 248, 0.5);
}
#weather-app p {
  color: #212121;
}
#weather-app div:nth-child(-n+3) {
  order: -3;
  flex: 1 0 100%;
}
#weather-app #wa-location-info {
  order: -3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 36px 0 0;
}
#weather-app #wa-location-info * {
  margin: 2px;
}
#weather-app #wa-location-info p:first-child {
  color: #373b3e;
}
#weather-app #wa-location-info p:nth-child(2) {
  font-size: 24px;
  letter-spacing: -0.6px;
}
#weather-app #wa-description {
  order: -1;
  padding: 6px 0 20px 0;
}
#weather-app #wa-description img {
  margin: -20px;
  height: 110px;
  width: 110px;
}
#weather-app #wa-description * {
  margin: 0 auto;
}
#weather-app #wa-description p {
  font-size: 20px;
}
#weather-app #wa-temperature-info {
  order: -2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
#weather-app #wa-temperature-info p {
  font-size: 24px;
  margin: 0;
  color: #373b3e;
}
#weather-app #wa-temperature-info p:nth-child(3),
#weather-app #wa-temperature-info p:nth-child(4) {
  font-size: 48px;
  font-weight: 500;
  padding: 0 15px 5px 15px;
  color: #212121;
}
#weather-app div:nth-child(n+4) {
  flex: 1 0 33.33%;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0 24px;
  line-height: 1;
}
#weather-app div:nth-child(n+4) * {
  margin: 5px 0;
}
#weather-app div:nth-child(n+4) i {
  font-size: 24px;
  color: #505458;
}
#weather-app div:nth-child(n+4) p {
  font-size: 20px;
}
#weather-app #wa-time {
  position: absolute;
  bottom: -14px;
  right: 5px;
  height: 14px;
  padding: 0;
}
#weather-app #wa-time p {
  font-size: 12px;
  font-style: italic;
  color: #818388;
}

#error-div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  padding: 20px 20px 20px 30px;
  background-color: rgba(247, 247, 248, 0.5);
  border-radius: 10px;
}
#error-div p {
  font-size: 20px;
  line-height: 1.6;
  color: #212121;
}
#error-div i {
  margin-top: 10px;
  font-size: 30px;
  color: #373b3e;
}

.metric-element {
  display: none;
}

.imperial-element {
  display: none;
}

.show-element {
  display: initial;
}

.morning {
  background: #000047 linear-gradient(0deg, #c8905b 0%, #70a1c2 50%);
}

.noon {
  background: #000047 linear-gradient(0deg, #94a4d1 0%, #70a1c2 80%);
}

.afternoon {
  background: #000047 linear-gradient(180deg, #0e0e39 0%, #70a1c2 60%);
}

.night {
  background: #000047 linear-gradient(180deg, #0e0e39 50%, #6c4983 100%);
}

@media only screen and (max-width: 600px) {
  body {
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
  }

  form {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 250px;
  }
  form span {
    width: 100%;
    text-align: center;
  }
  form input {
    width: 80%;
  }
  form button {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
